<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Info. Productos</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link href="../static/css/mycss.css" rel="stylesheet">
</head>

<body>
<div class="table-title">
<h3>Producto</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Datos</th>
<th class="text-left"> Info. Producto</th>
</tr>
</thead>
<tbody class="table-hover">


    <tr>
    <td class="text-left">Marca</td>
    <td class="text-left">e</td>
    </tr>
    <tr>
    <td class="text-left">Modelo</td>
    <td class="text-left">e</td>
    </tr>
    <tr>
    <td class="text-left">Cantidad</td>
    <td class="text-left">e</td>
    </tr>
    <tr>
    <td class="text-left">Estado</td>
    <td class="text-left">E</td>
    </tr>
    <tr>
    <td class="text-left">Activo</td>
    <td class="text-left">e</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>

</tbody>
</table>
  </body>
</html>