<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Multas</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link href="../static/css/mycss.css" rel="stylesheet">
</head>

<body>
<div class="table-title">
<h3>Multas</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">Datos</th>
<th class="text-left"> Info. Multas</th>
</tr>
</thead>
<tbody class="table-hover">
{% for i in range(num) %}
    <tr>
        <td class="text-left">Nombre</td>
        <td class="text-left">{{ lector[i] }}</td>
    </tr>
    <tr>
        <td class="text-left">Numero de multas</td>
        <td class="text-left">{{ num_multas[i] }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
{% endfor %}
</tbody>
</table>
  </body>
</html>